@font-face {
    font-family: "CustomFont";
    src: url("../fonts/CustomFont.ttf") format("truetype");
}

.background {
    -fx-background-image: url("../images/Background.png");
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}